<!DOCTYPE html>
<html lang="en">
{% load mtime %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% mtime 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% mtime 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% mtime 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% mtime 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% mtime 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% mtime 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% mtime 'css/app.css' %}">
</head>
<body>
<div class="row text-center" id="mainRow">
    <h1>Check out this weather app!</h1>
    <div>
        <a href="{% url 'home' %}" class="pageLink">Home</a>
        <a href="{% url 'temperature' %}" class="pageLink">Temperature</a>
        <a href="{% url 'rain' %}" class="pageLink">Rain</a>
        <a href="{% url 'sunshine' %}" class="pageLink">Sunshine</a>
        <a href="{% url 'wind' %}" class="pageLink">Wind</a>
    </div>
    {% block content %}

    {% endblock %}
    <script src="{% mtime 'js/jquery.min.js' %}"></script>
    <script src="{% mtime 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% mtime 'js/app.min.js' %}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    {% block javascript %}
    {% endblock %}
</div>
</body>
</html>
