{% extends 'base.html' %}

{% block content %}
    This app analyses the weather of De Bilt. The weather data can be averaged
    by years or days resulting in a day curve or a year curve. The data can be
    analysed starting at some year and ending in another. The raw curves are
    smoothed with a filter. The mouse over is enabled for curves. The first day
    of summer is calculated from defining summer as the warmest three months
    of the year. The temperature increase over the years is shown with the year
    curve. Curves can be also be made for wind, sunshine and rain.
{% endblock %}
